.nav .left .shouye{
	background-color: #029fe7;
}

/*主体*/
/*content*/

.content{
	width: 100%;
	height: 2007px;
}
/*公司简介 begin*/
.content>.box1{
	width: 1284px;
	height: 321px;
	display: flex;
	margin: 99px auto;
}
/*公司简介图片*/
.content>.box1>.left{
	width: 757px;
	height: 321px;
}
.content>.box1>.left>img{
	width: 496px;
	height: 321px;
	float: left;
	margin-left: 40px;
	margin-right: 55px;
}
/*公司简介内容top*/
.content>.box1>.right{
	margin-right: 43px;
}
.content>.box1>.right>.top>.t-left{
	width: 100px;
	height: 42px;
	margin-top: 5px;
}
.content>.box1>.right>.top>.t-left>span:first-child{
	color: #3f5a77;
	font-size: 24px;
	font-family: "黑体";
}
.content>.box1>.right>.top>.t-left>span:last-child{
	display: inline-block;
	width: 100px;
	height: 8px;
	background-color: #3f5a77;
}
.content>.box1>.right>.top>.t-right{
	width: 548px;
	height: 42px;
	margin-top: -9px;
}
.content>.box1>.right>.top>.t-right>span:first-child{
	font-size: 12px;
	color: #b3b3b3;
}
.content>.box1>.right>.top>.t-right>span:last-child{
	width: 548px;
	height: 1px;
	background-color: #3f5a77;
}

.content>.box1>.right>.btm{
	width: 651px;
	height: 157px;
	margin-top: 98px;
	position: relative;
}
.content>.box1>.right>.btm>span{
	display: block;	
	color: #333;
	letter-spacing: 2px;
	line-height: 20px;
	font-size: 14px;
	text-indent: 2em;
	white-space: pre-line;
}
.content>.box1>.right>.btm>span:last-child{
	/*float: right;*/
	position: absolute;
	bottom: 0;
	right: 0;
	color: #029fe7;
}
/*END 公司简介*/

/*作品展示 begin*/
.box2{
	width: 1284px;
	height: 511px;
	margin: 100px auto;
}
/*作品展示头部*/
.box2>.top{
	width: 100%;
	height: 69px;
	margin:0 auto 67px;
	text-align: center;
}
.box2>.top>.t-top>.left{
	margin:0 0px 0 42px;
}
.short{
	width: 164px;
	height: 12px;
	border:1px solid rgba(178,189,201,0);
	border-bottom-color: #b2bdc9;
	margin-left: 378px;
}
.long{
	width: 542px;
	height: 9px;
	border:1px solid rgba(178,189,201,0);
	border-bottom-color: #b2bdc9;
}
.title{
	color: #3f5a77;
	font-size: 24px;
	margin:0 9px;
	font-family: "黑体";
}
.box2>.top>.t-top>.right{
	width: 542px;
	margin-right: 42px;
}
.box2>.top>.t-top>.right>.short{
	width: 164px;
	height: 12px;
	border:1px solid rgba(178,189,201,0);
	border-bottom-color: #b2bdc9;
	margin-left: 0;
}
.box2>.top>.t-btm{
	width: 495px;
	height: 21px;
	font-size: 14px;
	margin:17px auto 0;
}

.box2>.top>.t-btm ul{
}
.box2>.top>.t-btm li{
	float: left;
	margin-right: 53px;
}
.box2>.top>.t-btm a{
	color:#666666;
	font-family: "黑体";
}
.box2>.top>.t-btm a:hover{
	color:#00a0e9;
	border-bottom: 2px solid #00a0e9;
}
.box2>.top>.t-btm li:last-child{
	margin-right: 0;
}
/*END 作品展示头部*/

/*作品展示图片*/
.box2>.btm{
	width: 1284px;
	height: 377px;
}
.box2>.btm>img{
	width: 41px;
	height: 58px;
	margin-top:146px;
}
.box2>.btm>ul{
	width: 1200px;
	display: flex;
	justify-content: space-between;
}
.box2>.btm>ul li{
	width: 291px;
	height: 376px;
}
.box2>.btm>ul li>img{
	width: 293px;
	height: 351px;
}
.box2>.btm>ul li>span{
	display: block;
	font-size: 14px;
	font-family: "黑体";
	color: #666;
}
/*作品展示 END*/

/*行业资讯*/
.box3{
	width: 1284px;
	height: 269px;
	margin: 100px auto;
}
/*行业资讯头部*/
.box3>.top>.t-top>.left{
	margin:0 0px 0 42px;
}
.box3>.top>.t-top>.right>.short{
	width: 164px;
	height: 12px;
	border:1px solid rgba(178,189,201,0);
	border-bottom-color: #b2bdc9;
	margin-left: 0;
}
.box3>.top>.t-top>.right{
	width: 542px;
	margin-right: 42px;
}
/*END 行业资讯头部*/

/*行业咨询内容*/
.box3>.btm{
	margin-top: 55px;
	width: 1284px;
	height: 184px;
}
.box3>.btm>.left{
	width: 332px;
}
.box3>.btm>.left>img{
	width: 260px;
	height: 184px;
	margin: 0 40px;
}
.box3>.btm>.center{
	width: 361px;
	height: 184px;
	margin-right: 40px;
	position: relative;
}
.box3>.btm>.center>span{
	font-size: 14px;
	color: #333333;
	letter-spacing: 2px;
}
.box3>.btm>.center>span:nth-child(1){
	font-weight: bold;
	white-space: pre-wrap;
	color: #333;
}
.box3>.btm>.center>span:nth-child(2){
	display: block;
	text-indent: 2em;
	letter-spacing: 2px;
	line-height: 20px;
	font-family: "宋体";
	margin-top: 17px;
	text-align: justify;
}
.box3>.btm>.center>span:nth-child(3){
	color:#00a0e9;
	letter-spacing: 2px;
	font-size: 12px;
	font-family: "宋体";
	position: absolute;
	bottom: 0;
	right: 0; 
}
.box3>.btm>.right>span{
	font-size: 14px;
	color: #333333;
	white-space: pre;
}
.box3>.btm>.right{
	width: 494px;
	height: 184px;
	letter-spacing: 2px;
	font-size: 14px;
	font-family: "宋体";
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
/*END 行业咨询内容*/
/*END 行业资讯*/

/*联系我们*/
.box4{
	width: 1284px;
	height: 517px;
	margin: 100px auto;
	position: relative;
}
/*联系我们头部*/
.box4>.top>.t-top>.left{
	margin:0 0px 0 42px;
}
.box4>.top>.t-top>.right>.short{
	width: 164px;
	height: 12px;
	border:1px solid rgba(178,189,201,0);
	border-bottom-color: #b2bdc9;
	margin-left: 0;
}
.box4>.top>.t-top>.right{
	width: 542px;
	margin-right: 42px;
}
/*END 联系我们头部*/
.box4>.btm>img{
	width: 1199px;
	height: 433px;
	margin:53px 40px 0 40px;
}
.box4>.btm>.tel{
	width: 433px;
    height: 433px;
	background-color: rgba(0,0,0,.3);
	margin-top: -433px;
    margin-right: 45px;
}
.box4>.btm>.tel>img{
	margin:56px 139px 39px 139px;
}
.box4>.btm>.tel>div{
	width: 433px;
	height: 130px;
	margin-left: 27px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/*END 联系我们*/
/*END content*/
/*END 主体*/