.nav .left .zhaoping{
	background-color: #029fe7;
}


/*侧边导航栏*/
.out{
	margin-left: 12%;
    margin-top: -3.85%;
    width: 136px;
    text-align: center;
}
.out ul{
	
	background-color: #00a0e9;	
}
.out a{
	font-family: "黑体";
}
.out li{
	padding: 20px;
}
.out li:hover{
	background-color: #0062a3;
}
.out li:hover>a::after{
	content: ">";
	margin-left: 10px;
}
/*END 侧边导航栏*/

/*content*/
.content{
	width: 905px;
	height: 100%;
    margin: 0 auto;
	margin-left: 30%;
}
.content .top{
	width: 905px;
	height: 166px;
	display: flex;
	flex-direction: column;
    justify-content: center;
}
.top span{
	color: #333;
	font-family: "黑体";
	border:1px solid rgba(0,160,233,0);
}
.top hr{
	width: 100%;
	border:none;
	background-color:#00a0e9;
	height:2px;
	outline-color: rgba(0,160,233,.3);
}
.top .index{
	color: #00a0e9;
}
.index::after{
	content: ">";
	color: #333;
}
.about{
	color: #333;
}
.about::after{
	content: ">";
	color: #333;
}

/*内容中心*/
 .content .btm{
	width: 905px;
	height: 1147px;
}
.btm div{
}
 .content .btm>div:first-child{
	
}
 .content .btm>div:nth-child(2){
	height: 600px;

 }
.btm img{
	width: 582px;
	margin:0 17.7% 12.2% 17.7%;
	height:414px;
}
.btm pre{
	text-align: center;
	font-size: 16px;
	color: #333;
	font-family: "黑体";
}
/*END 内容*/