<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>宏恩建筑集团有限公司-关于宏恩</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/nav.css">
	<link rel="stylesheet" type="text/css" href="css/About.css">
</head>
<body>
	<!-- 主体 -->
	<div class="main">
		<!-- nav -->
		<div class="nav">
			<div class="top">
				<img src="images/logo.png">
				<img src="images/phone.png">
			</div>
			<div class="btm">
				<span class="left">
					<ul>
						<li><a href="index.html" target="_blink">网站首页</a></li>
						<li class="guangyu"><a href="About.html">关于宏恩</a></li>
						<li class="items">
							<ul>
								<li><a href="">公司简介</a></li>
								<li><a href="">发展历程</a></li>
								<li><a href="">企业文化</a></li>
								<li><a href="">组织机构</a></li>
								<li><a href="">企业荣誉</a></li>
							</ul>
						</li>
						<li><a href="Product.html" target="_blink">产品中心</a></li>
						<li><a href="news.html" class="news" target="_blink">新闻中心</a></li>
						<li class="items">
							<ul>
								<li><a href="news1.html">公司动态</a></li>
								<li><a href="news1.html">行业聚焦</a></li>
							</ul>
						</li>
						<li><a href="Recruit.html" target="_blink">人才招聘</a></li>
						<li class="items">
							<ul>
								<li><a href="">人才理念</a></li>
								<li><a href="">办公环境</a></li>
								<li><a href="">社会招聘</a></li>
								<li><a href="">校园招聘</a></li>
							</ul>
						</li>
						<li><a href="Recruit.html" target="_blink">联系我们</a></li>
					</ul>
				</span>
				<div class="right fl">
					<input type="text" placeholder="请输入你要搜索的内容" name="">
					<button class="fr">
						<img src="images/search1.png">
					</button>
				</div>
			</div>
		</div>
		<!-- END nav -->
		<!-- banner -->
		<div class="banner fl">
			<img src="images/banner4.png">
		</div>
		<!-- banner -->
		
		<!-- 侧边导航 -->
		<div class="out fl">
			<ul>
				<li><a href="">关于宏恩</a></li>
				<li><a href="">公司简介</a></li>
				<li><a href="">发展历程</a></li>
				<li><a href="">企业文化</a></li>
				<li><a href="">组织机构</a></li>
				<li><a href="">企业荣誉</a></li>
			</ul>
		</div>
		<!--END 侧边导航 -->

		<!-- content -->
			<div class="content">
				<div class="top">
					<span>
						<span>当前位置：</span>
						<span class="index">首页  </span>
						<span class="about">关于宏恩  </span>
						<span>公司介绍</span>
					</span>
					<hr>
				</div>
				<!-- 内容 -->
				<div class="btm">
					<div>
						<span style="font-size: 30px;">宏恩建筑集团有限公司</span>
					</div>
					<div>
						<div class="text">
							<span>
								广州瀚华建筑设计有限公司成立于2000年，是国内较早建立现代管理模式的民营建筑设计企业，持有国家颁发的建筑工程甲级设计资质、风景园林工程设计乙级资质和城乡规划丙级资质，在大型住区、办公、商业、文化、教育和其他建筑类型等方面拥有丰富的设计经验，创作了广东海上丝绸之路博物馆、广东美术馆时代分馆、耀中广场、中海千灯湖一号花园、中信山语湖、时代玫瑰园、保利中环广场、保利香雪山、广晟国际大厦等众多知名的建筑设计z佳作，逐步树立了良好的品牌形象。
							</span>
							<span>
								公司技术力量全面，拥有500名建筑、结构、机电、景观、BIM、工程造价等专业技术人员的高效协作团队。相对于国内其他设计公司，瀚华公司采用与国际接轨的专业所运营管理模式，使各专业之间实现高效率协作，整合式创新，为客户提供全方位的服务。
							</span>
							<span>瀚华追求完美服务，用心聆听客户的需求，顺应市场的变化，为客户提供全面准确的技术支持，与客户共同创造时代建筑的精品。中海、万科、新世界地产(中国)、保利集团、中信地产、招商地产、金地地产、越秀城建集团、雅居乐、凯德置地、时代集团、恒大集团等知名地产公司均与瀚华建立了长期、稳定的合作关系, 也是市场对瀚华追求完美服务精神的最好肯定。
							</span>
							<span>
							瀚华追求完美服务，用心聆听客户的需求，顺应市场的变化，为客户提供全面准确的技术支持，与客户共同创造时代建筑的精品。中海、万科、新世界地产(中国)、保利集团、中信地产、招商地产、金地地产、越秀城建集团、雅居乐、凯德置地、时代集团、恒大集团等知名地产公司均与瀚华建立了长期、稳定的合作关系, 也是市场对瀚华追求完美服务精神的最好肯定。
							</span>
							<span>
								瀚华永不满足于既往的荣誉，脚踏实地，志在高远；将秉承一贯的“积极创新、精心管理、专业服务”精神，为提供更优质的设计服务、完成更高水准的设计作品做出不懈的努力。
							</span>
							<span>
								瀚华永不满足于既往的荣誉，脚踏实地，志在高远；将秉承一贯的“积极创新、精心管理、专业服务”精神，为提供更优质的设计服务、完成更高水准的设计作品做出不懈的努力。
							</span>
							<span>
								公司技术力量全面，拥有500名建筑、结构、机电、景观、BIM、工程造价等专业技术人员的高效协作团队。相对于国内其他设计公司，瀚华公司采用与国际接轨的专业所运营管理模式，使各专业之间实现高效率协作，整合式创新，为客户提供全方位的服务。
							</span>
						</div>
						<div class="imgage">
							<img src="images/23.png" alt="">
							<img src="images/24.png" alt="">
						</div>
					</div>	
				</div>
			</div>
		<!--END content -->

		<!-- footer -->
		<div class="footer fl">
			<span>版权所有：广州市建筑集团有限公司 京ICP备11009138号 京公网安备:110401300085 技术支持：中企动力</span>
		</div>
		<!-- END footer -->
	</div>
	<!-- END 主体 -->
</body>
</html>