<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>宏恩建筑集团有限公司-新闻中心</title>
	<link rel="icon" type="image/x-icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="stylesheet" type="text/css" href="../css/news1.css">
</head>
<body>
	<!-- 主体 -->
	<div class="main">
		<!-- nav -->
		<div class="nav">
			<div class="top">
				<img src="images/logo.png">
				<img src="images/phone.png">
			</div>
			<div class="btm">
				<span class="left">
					<ul>
						<li><a href="../index.html" target="_blink">网站首页</a></li>
						<li><a href="About.html" target="_blink">关于宏恩</a></li>
						<li class="items">
							<ul>
								<li><a href="">公司简介</a></li>
								<li><a href="">发展历程</a></li>
								<li><a href="">企业文化</a></li>
								<li><a href="">组织机构</a></li>
								<li><a href="">企业荣誉</a></li>
							</ul>
						</li>
						<li><a href="Product.html" target="_blink">产品中心</a></li>
						<li style="background-color: #029fe7;"><a href="news.html" class="news" target="_blink">新闻中心</a></li>
						<li class="items">
							<ul>
								<li><a href="news1.html">公司动态</a></li>
								<li><a href="news1.html">行业聚焦</a></li>
							</ul>
						</li>
						<li><a href="Recruit.html" target="_blink">人才招聘</a></li>
						<li class="items">
							<ul>
								<li><a href="">人才理念</a></li>
								<li><a href="">办公环境</a></li>
								<li><a href="">社会招聘</a></li>
								<li><a href="">校园招聘</a></li>
							</ul>
						</li>
						<li><a href="Relation.html" target="_blink">联系我们</a></li>
					</ul>
				</span>
				<div class="right fl">
					<input type="text" placeholder="请输入你要搜索的内容" name="">
					<button class="fr">
						<img src="images/search1.png">
					</button>
				</div>
			</div>
		</div>
		<!-- END nav -->
		<!-- banner -->
		<div class="banner fl">
			<img src="images/banner4.png">
		</div>
		<!-- banner -->

		<!-- content -->
			<div class="content fr">
				<div class="top">
					<span>
						<span>当前位置：</span>
						<span class="index">首页  </span>
						<span class="new">新闻中心  </span>
						<span>公司动态  </span>
					</span>
					<hr>
				</div>
				<!-- 内容 -->
				<div class="btm">
					<div class="box1">
						<span>成都发布城建攻坚2025规划国际成都再添一环！</span>
						<span>[2016-01-09]</span>
					</div>
					<div class="box2">
						<span>
							3月2日，瀚华结构专业总工程师郑建东、结构所所长严仕基应邀为华工土木与交通学院毕业生进行了一场别开生面的公益讲座，前者严谨专业，后者幽默实用，学术报告厅内掌声笑声此起彼伏。本次活动由土木系常务副主任季静主持，土木系副主任李静等参加。
						</span>
						<div>
							<img src="images/14.JPG">
							<img src="images/15.JPG">
						</div>
						<span>
							3月2日，瀚华结构专业总工程师郑建东、结构所所长严仕基应邀为华工土木与交通学院毕业生进行了一场别开生面的公益讲座，前者严谨专业，后者幽默实用，学术报告厅内掌声笑声此起彼伏。本次活动由土木系常务副主任季静主持，土木系副主任李静等参加。瀚华结构专业总工程师郑建东、结构所所长严仕基应邀为华工土木与交通学院毕业生进行了一场别开生面的公益讲座，前者严谨专业，后者幽默实用，学术报告厅内掌声笑声此起彼伏。本次活动由土木系常务副主任季静主持，土木系副主任李静等参加。
						</span>
						<div>
							<img src="images/16.JPG" alt="">
							<img src="images/17.JPG" alt="">
						</div>
						<span>
							3月2日，瀚华结构专业总工程师郑建东、结构所所长严仕基应邀为华工土木与交通学院毕业生进行了一场别开生面的公益讲座，前者严谨专业，后者幽默实用，学术报告厅内掌声笑声此起彼伏。本次活动由土木系常务副主任季静主持，土木系副主任李静等参加。瀚华结构专业总工程师郑建东、结构所所长严仕基应邀为华工土木与交通学院毕业生进行了一场别开生面的公益讲座，
						</span>
						<div>
							<img src="images/18.JPG" alt="">
							<img src="images/19.JPG" alt="">
						</div>
					</div>
				</div>
		<!--END content -->
		</div>
		<!-- footer -->
		<div class="footer fl">
			<span>版权所有：广州市建筑集团有限公司 京ICP备11009138号 京公网安备:110401300085 技术支持：中企动力
			</span>
		</div>
		<!-- END footer -->
	</div>
	<!-- END 主体 -->
</body>
</html>