<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>宏恩建筑集团有限公司-产品中心</title>
	<link rel="icon" type="image/x-icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="stylesheet" type="text/css" href="../css/Product.css">
</head>
<body>
	<!-- 主体 -->
	<div class="main">
		<!-- nav -->
		<div class="nav">
			<div class="top">
				<img src="images/logo.png">
				<img src="images/phone.png">
			</div>
			<div class="btm">
				<span class="left">
					<ul>
						<li><a href="../index.html" target="_blink">网站首页</a></li>
						<li><a href="About.html" target="_blink">关于宏恩</a></li>
						<li class="items">
							<ul>
								<li><a href="">公司简介</a></li>
								<li><a href="">发展历程</a></li>
								<li><a href="">企业文化</a></li>
								<li><a href="">组织机构</a></li>
								<li><a href="">企业荣誉</a></li>
							</ul>
						</li>
						<li style="background-color: #029fe7;"><a href="">产品中心</a></li>
						<li><a href="news.html" class="news" target="_blink">新闻中心</a></li>
						<li class="items">
							<ul>
								<li><a href="news1.html">公司动态</a></li>
								<li><a href="news1.html">行业聚焦</a></li>
							</ul>
						</li>
						<li><a href="Recruit.html" target="_blink">人才招聘</a></li>
						<li class="items">
							<ul>
								<li><a href="">人才理念</a></li>
								<li><a href="">办公环境</a></li>
								<li><a href="">社会招聘</a></li>
								<li><a href="">校园招聘</a></li>
							</ul>
						</li>
						<li><a href="Relation.html" target="_blink">联系我们</a></li>
					</ul>
				</span>
				<div class="right fl">
					<input type="text" placeholder="请输入你要搜索的内容" name="">
					<button class="fr">
						<img src="images/search1.png">
					</button>
				</div>
			</div>
		</div>
		<!-- END nav -->
		<!-- banner -->
		<div class="banner fl">
			<img src="images/banner4.png">
		</div>
		<!-- banner -->
		
		<!-- 侧边导航 -->
		<div class="out fl">
			<ul>
				<li><a href="">产品中心</a></li>
				<li><a href="">精品设计</a></li>
				<li><a href="">基础工程</a></li>
				<li><a href="">房建工程</a></li>
				<li><a href="">市政工程</a></li>
				<li><a href="">轧道工程</a></li>
			</ul>
		</div>
		<!--END 侧边导航 -->

		<!-- content -->
			<div class="content">
				<div class="top">
					<span>
						<span>当前位置：</span>
						<span class="index">首页  </span>
						<span>产品中心  </span>
					</span>
					<hr>
				</div>
				<!-- 内容 -->
				<div class="btm">
					<div class="box1">
						<a href="Product1.html" target="_blink">
							<img src="images/2.png" alt="">
						</a>
						<a href="Product1.html">
							<img src="images/3.png" alt="" class="cet">
						</a>
						<a href="Product1.html">
							<img src="images/4.png" alt="">
						</a>
						<div class="text">
							<span>阳光花园</span>
							<span>格林海景花园</span>
							<span>世界商业大厦</span>
						</div>
					</div>
					<div class="box2">
							<a href="Product1.html">
								<img src="images/5.png" alt="">
							</a>
							<a href="Product1.html">
								<img src="images/6.png" alt="" class="cet">
							</a>
							<a href="Product1.html">
								<img src="images/7.png" alt="">
							</a>
							<div class="text">
								<span>阳光花园</span>
								<span>格林海景花园</span>
								<span>世界商业大厦</span>
							</div>
					</div>
					<div class="box3">
							<a href="Product1.html">
								<img src="images/10.jpg" alt=""></a>
							<a href="Product1.html">
								<img src="images/23.png" alt="" class="cet"></a>
							<a href="Product1.html">
								<img src="images/25.png" alt=""></a>
							<div class="text">
								<span>阳光花园</span>
								<span>格林海景花园</span>
								<span>世界商业大厦</span>
							</div>
					</div>
					</div>
				<!-- 选页 -->
				<div class="next fl">
					<!-- <div><</div>
					<div>1</div>
					<div>2</div>
					<div></div> -->
					<div><a href=""><</a></div>
					<div><a href="">1</a></div>
					<div><a href="">2</a></div>
					<div><a href="">></a></div>
				</div>
				<!--END 选页 -->
				</div>
			</div>
		<!--END content -->
		</div>
		<!-- footer -->
		<div class="footer fl">
			<span>版权所有：广州市建筑集团有限公司 京ICP备11009138号 京公网安备:110401300085 技术支持：中企动力
			</span>
		</div>
		<!-- END footer -->
	</div>
	<!-- END 主体 -->
</body>
</html>