<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>宏恩建筑集团有限公司-联系我们</title>
	<link rel="icon" type="image/x-icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="stylesheet" type="text/css" href="../css/Relation.css">
</head>
<body>
	<!-- 主体 -->
	<div class="main">
		<!-- nav -->
		<div class="nav">
			<div class="top">
				<img src="../images/logo.png">
				<img src="../images/phone.png">
			</div>
			<div class="btm">
				<span class="left">
					<ul>
						<li><a href="../index.html" target="_blink">网站首页</a></li>
						<li><a href="About.html" target="_blink">关于宏恩</a></li>
						<li class="items">
							<ul>
								<li><a href="">公司简介</a></li>
								<li><a href="">发展历程</a></li>
								<li><a href="">企业文化</a></li>
								<li><a href="">组织机构</a></li>
								<li><a href="">企业荣誉</a></li>
							</ul>
						</li>
						<li><a href="Product.html">产品中心</a></li>
						<li><a href="news.html" class="news" target="_blink">新闻中心</a></li>
						<li class="items">
							<ul>
								<li><a href="news1.html">公司动态</a></li>
								<li><a href="news1.html">行业聚焦</a></li>
							</ul>
						</li>
						<li><a href="Recruit.html" target="_blink">人才招聘</a></li>
						<li class="items">
							<ul>
								<li><a href="">人才理念</a></li>
								<li><a href="">办公环境</a></li>
								<li><a href="">社会招聘</a></li>
								<li><a href="">校园招聘</a></li>
							</ul>
						</li>
						<li style="background-color: #029fe7;"><a href="Relation.html" target="_blink">联系我们</a></li>
					</ul>
				</span>
				<div class="right fl">
					<input type="text" placeholder="请输入你要搜索的内容" name="">
					<button class="fr">
						<img src="../images/search1.png">
					</button>
				</div>
			</div>
		</div>
		<!-- END nav -->
		<!-- banner -->
		<div class="banner fl">
			<img src="../images/banner4.png">
		</div>
		<!-- banner -->
		
		<!-- 侧边导航 -->
		<div class="out fl">
			<ul>
				<li><a href="">联系我们</a></li>
			</ul>
		</div>
		<!--END 侧边导航 -->

		<!-- content -->
			<div class="content">
				<div class="top">
					<span>
						<span>当前位置：</span>
						<span class="index">首页  </span>
						<span>联系我们  </span>
					</span>
					<hr>
				</div>
				<!-- 内容 -->
				<div class="btm">
					<ul>
						<li>地 址：广州市天河区黄埔大道中311号羊城创意产业园2-21栋</li>
						<li>邮 编： 510655</li>
						<li>电 话：(020)38031268</li>
						<li>传 真：(020)38031269</li>
						<li>电 邮： hesiwei@gzhanhua.com</li>
						<li>公司网址：www.hanhua.cn</li>
						<li>微信订阅号：广州瀚华建筑设计有限公司</li>
						<li>微信服务号：瀚华设计</li>
						<li>微信企业号：瀚华企业号</li>
						<li>企划部微信：gzhanhua</li>
						<li>新浪微博：@瀚华设计</li>
						<li>腾讯微博：@广州瀚华建筑设计有限公司</li>
						<li>QQ空间：http://2076660165.qzone.qq.com</li>
					</ul>
					<form>
						<input type="text" name="" placeholder="姓名：">
						<input type="text" name="" placeholder="邮箱:">
						<textarea placeholder="留言："></textarea>
						<button>提交</button>
					</form>
				</div>
			</div>
		<!--END content -->
		</div>
		<!-- footer -->
		<div class="footer fl">
			<span>版权所有：广州市建筑集团有限公司 京ICP备11009138号 京公网安备:110401300085 技术支持：中企动力
			</span>
		</div>
		<!-- END footer -->
	</div>
	<!-- END 主体 -->
</body>
</html>